body {
  background-color: #eee;
}

header,
button {
  background-color: #4c2474;
  color: #fdfafd;
}

img {
  width: 100%;
  margin-bottom: 0.75rem;
}

input,
label {
  display: block;
  width: 100%;
}

label {
  font-weight: bolder;
}

input {
  height: 30px;
}

input,
textarea {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border: 1px solid #a2a2a3;
  border-radius: 5px;
}

textarea {
  width: 100%;
  display: block;
}

button {
  height: 25px;
}

.save-button-wrapper {
  display: flex;
  justify-content: right;
}

.entries-link {
  color: #fdfafd;
  margin-left: 1rem;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.new-button {
  display: block;
  height: 28px;
  width: 50px;
  background-color: #4c2474;
  color: #fdfafd;
  text-align: center;
  border: solid thin;
  text-decoration: none;
  padding-top: 4px;
}

.button-column {
  display: flex;
  justify-content: right;
  align-items: center;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
